<div class="subslide subslide--tobacco">
	<div class="group group--bowls">
		<h3 class="priced-list__title">Чаши</h3>
		<%=data.pricedListBowl%>
	</div>
	<div class="group group--tobacco">
		<h3 class="tobacco-title">Табак <span class="subtitle">(на глиняной чаше)</span></h3>
		<div class="tobacco-list">
		<% data.tobacco.forEach(item => { %>
			<div class="tobacco-item">
				<div class="tobacco-item__icon">
					<img src="<%-item.src%>" alt="<%-item.title%>">
				</div>
				<span class="tobacco-item__price"><%-item.price%><span class="ruble">₽</span></span>
			</div>
		<% }) %>
		</div>
		<div class="bowl-replacement">
			<% data.bowl_replacement.forEach(item => { %>
				<div class="bowl-replacement__item">
					<span class="bowl-replacement__title">
						<%-item.title%>
					</span>
					<span class="bowl-replacement__price">
						<%-item.price%> <span class="ruble">₽</span>
					</span>
				</div>
			<% }) %>
		</div>
	</div>
</div>